* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}




form {
  width: 620px;
}


.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: translateX(-150px);
  transition: all 500ms ease-in;
}

.post__btns {
  display: flex;
}

.carts {
  width: 200px;
}

.Cataloglist {
  width: 100%;
  
}