.Login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}
.icon {
  width: 50px;
  height: 50px;
  background-image: url('../resyrs/login/free-icon-user-9463231.png');
  background-size: cover;
}
h1 {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
}

