.navbar {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 10px;
  background-color: lightgray;

  .navbar__links {
    margin-left: auto;

    a {
      margin-right: 5px;
    }
  }
}